# Log files
*.log

# Extra files from latexmk 
*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz

# PDF versions of the notes (compile them yourself)
/Notes/**/*.pdf

# ipynb checkpoints
**/*.ipynb_checkpoints/    

# Rhistory files and other R files
*.Rhistory
*.Rapp.history
*.Ruser
*.Ruserdata
*.Rdata
*.here

# Image files
*.png

*.vscode**